<div class="wrapper flex justify-content-center align-items-center fadeIn" style="height: 50rem;">
    <div class="card-switch">
        <label class="switch">
            <input type="checkbox" [(ngModel)]="formToggle" (change)="onToggle($event)" class="toggle">
            <span class="slider"></span>
            <span class="card-side"></span>
            <div class="flip-card__inner">
                <div class="flip-card__front">
                    <div class="title">Log in</div>
                    <form class="flip-card__form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        <input class="flip-card__input" formControlName="email" name="email" placeholder="Email"
                            type="email">
                        <input class="flip-card__input" formControlName="password" name="password"
                            placeholder="Password" type="password">
                        <button pButton type="submit" [disabled]="loginForm.invalid" class="flip-card__btn"
                            [loading]="isLoggingIn">Login</button>
                    </form>
                </div>
                <div class="flip-card__back">
                    <div class="title">Sign up</div>
                    <form class="flip-card__form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
                        <input class="flip-card__input" formControlName="fullName" placeholder="Name" type="name">
                        <input class="flip-card__input" formControlName="email" name="email" placeholder="Email"
                            type="email">
                        <input class="flip-card__input" formControlName="password" name="password"
                            placeholder="Password" type="password">
                        <button pButton type="submit" [disabled]="registerForm.invalid" [loading]="isRegistering"
                            class="flip-card__btn">Confirm!</button>
                    </form>
                </div>
            </div>
        </label>
    </div>
</div>